{% extends 'grass_cutting/base.html' %} {% block content %}
<h2>{{ lawnmower.model }} </h2>
<h4>{{ lawnmower.brand }} </h4>

<img src="{{ lawnmower.photo_url }}" alt="" class="lawnmower-photo" />

<div>
    <a href="{% url 'lawnmower_edit' pk=lawnmower.pk %}">(Edit)</a>
    <a href="{% url 'lawnmower_delete' pk=lawnmower.pk %}">(Delete)</a>
  </div>
  <h3>Fertilizers </h3>
  <ul>
    {% for fertilizer in lawnmower.fertilizers.all %}
    <li>
      <a href="">{{ fertilizer.product }}</a>
      <img src="{{ fertilizer.preview_url }}" alt="" class="lawnmower-photo" />
    </li>
    {% endfor %}
      </ul>
  {% endblock %}
