{% extends 'grass_cutting/base.html' %} {% block content %}
<h2>{{ lawnmower.model }} <a href="{% url 'lawnmower_edit' pk=lawnmower.pk %}">(edit)</a></h2>
<h4>{{ lawnmower.brand }} </h4>

<img src="{{ lawnmower.photo_url }}" alt="" class="lawnmower-photo" />

<div>
    <a href="{% url 'lawnmower_delete' pk=lawnmower.pk %}">DELETE</a>
  </div>
  <h3>Fertilizer <a href="">(+)</a></h3>
  <ul>
    {% for fertilizer in lawnmower.fertilizer.all %}
    <li>
      <a href="">{{ fertilizer.name }}</a>
      <img src="{{ fertilizer.image_url }}" alt="" class="fertilizer-photo" />
    </li>
    {% endfor %}
  </ul>
  {% endblock %}
